<div class="container footer-container">
  <p>
    {{ site.name | escape }} -
    <a href="mailto:{{ site.email }}" target="_blank">{{ site.email | escape }}</a>
    {%- if site.footer_show_references -%}
      &nbsp;- References on request
    {%- endif -%}
  </p>
</div>

<script type="application/ld+json">
{
  "@context": "https://schema.org/",
  "@type": "Person",
  "url": "https://www.ardabeyazoglu.com",
  "name": "Arda Beyazoğlu",
  "familyName": "Beyazoğlu",
  "givenName": "Arda",
  "nationality": "Turkey",
  "email": "arda@beyazoglu.com",
  "gender": "Male",
  "birthplace": "Istanbul",
  "jobTitle": "Senior Software Engineer",
  "knowsLanguage": [
    "Turkish", "English", "Slovenian"
  ]
}
</script>
