<div class="container footer-container">
  <!--<p>
    {{ site.name | escape }} -
    
    {%- if site.footer_show_references -%}
      &nbsp;- References on request
    {%- endif -%}
  </p>-->
</div>

<script type="application/ld+json">
  {
    "@context": "https://schema.org/",
    "@type": "Person",
    "url": "https://ardabeyazoglu.com",
    "name": "Arda Beyazoğlu",
    "familyName": "Beyazoğlu",
    "givenName": "Arda",
    "nationality": "Turkey",
    "homeLocation": {
      "@type": "Place",
      "name": "My Home",
      "address": {
        "addressLocality": "Ljubljana",
        "addressCountry": "SI"
      }
    },
    "gender": "Male",
    "birthplace": "Istanbul",
    "jobTitle": "Software Engineer",
    "knowsLanguage": [
      "Turkish", "English", "Slovenian"
    ]
  }
</script>
